<h2>Artists selection</h2>

<section>
{{#each artist}}

<div>
<h3>{{this.name}}</h3>
<p>Description: {{this.description}}</p>
<img src="{{this.picture}}" alt="album cover">
<br>
{{#if this.isBand}}
<strong>band</strong>
{{else}}
<strong>solo artist</strong>
{{/if}}
<br>
<a href="/dashboard/artist/update/{{this.id}}">Edit</a>
<a href="/dashboard/artist/delete/{{this.id}}">X</a>
</div>
<br>

{{/each}}
</section>